# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Streamlit and IDE
.env
.DS_Store
.vscode/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
